{%- assign _author = include.author -%}

<div class="author-links vertical">
    <ul class="menu menu--nowrap menu--vertical">

        {%- if _author.url -%}
            <link itemprop="url" href="{{ _author.url }}">
        {%- endif -%}

        {%- if _author.type == 'organization' -%}
            {%- include snippets/get-locale-string.html key='EMAIL_US' -%}
            {%- assign _locale_string_email = __return -%}
            {%- include snippets/get-locale-string.html key='FOLLOW_US' -%}
            {%- assign _locale_string_follow = __return -%}
        {%- else -%}
            {%- include snippets/get-locale-string.html key='EMAIL_ME' -%}
            {%- assign _locale_string_email = __return -%}
            {%- include snippets/get-locale-string.html key='FOLLOW_ME' -%}
            {%- assign _locale_string_follow = __return -%}
        {%- endif -%}

        {%- include snippets/get-locale-string.html key='EMAIL_ME' -%}
        {%- if _author.email -%}
            <li title="{{ _locale_string_email }}">
                <a href="mailto:{{ _author.email }}" itemprop="email" target="_blank">
                    <div class="button button--circle mail-button">
                        <i class="fas fa-envelope"></i>
                    </div>
                    Email
                </a>
            </li>
        {%- endif -%}

        {%- if _author.twitter -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Twitter' }}">
                <a href="https://twitter.com/{{ _author.twitter }}" itemprop="sameAs" target="_blank">
                    <div class="button button--circle twitter-button">
                        <div class="icon">{%- include svg/icon/social/twitter.svg -%}</div>
                    </div>
                    Twitter
                </a>
            </li>
        {%- endif -%}

        {%- if _author.linkedin -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Linkedin' }}">
                <a href="https://www.linkedin.com/in/{{ _author.linkedin }}" itemprop="sameAs" target="_blank">
                    <div class="button button--circle linkedin-button">
                        <div class="icon">{%- include svg/icon/social/linkedin.svg -%}</div>
                    </div>
                    Linkedin
                </a>
            </li>
        {%- endif -%}

        {%- if _author.github -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Github' }}">
                <a href="https://github.com/{{ _author.github }}" itemprop="sameAs" target="_blank">
                    <div class="button button--circle github-button">
                        <div class="icon">{%- include svg/icon/social/github.svg -%}</div>
                    </div>
                    Github
                </a>
            </li>
        {%- endif -%}

        {%- if _author.npm -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'npm' }}">
                <a href="https://www.npmjs.com/~{{ _author.npm }}" itemprop="sameAs" target="_blank">
                    <div class="button button--circle npm-button">
                        <div class="icon">{%- include svg/icon/social/npm.svg -%}</div>
                    </div>
                    Npm
                </a>
            </li>
        {%- endif -%}

        {%- if _author.notist -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Notist' }}">
                <a href="https://noti.st/{{ _author.notist }}" itemprop="sameAs" target="_blank">
                    <div class="button button--circle notist-button">
                        <i class="fas fa-comment"></i>
                    </div>
                    Notist Speaker Profile
                </a>
            </li>
        {%- endif -%}

        {%- if _author.devto -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'DEV' }}">
                <a href="https://dev.to/{{ _author.devto }}" itemprop="sameAs" target="_blank">
                    <div class="button button--circle devto-button">
                        <div clas="icon">{%- include svg/icon/social/devto.svg -%}</div>
                    </div>
                    DEV Community
                </a>
            </li>
        {%- endif -%}

    </ul>
</div>
