{%- assign _author = include.author -%}

<div class="author-links">
    <ul class="menu menu--nowrap menu--inline">

        {%- if _author.url -%}
            <link itemprop="url" href="{{ _author.url }}">
        {%- endif -%}

        {%- if _author.type == 'organization' -%}
            {%- include snippets/get-locale-string.html key='EMAIL_US' -%}
            {%- assign _locale_string_email = __return -%}
            {%- include snippets/get-locale-string.html key='FOLLOW_US' -%}
            {%- assign _locale_string_follow = __return -%}
        {%- else -%}
            {%- include snippets/get-locale-string.html key='EMAIL_ME' -%}
            {%- assign _locale_string_email = __return -%}
            {%- include snippets/get-locale-string.html key='FOLLOW_ME' -%}
            {%- assign _locale_string_follow = __return -%}
        {%- endif -%}

        {%- include snippets/get-locale-string.html key='EMAIL_ME' -%}
        {%- if _author.email -%}
            <li title="{{ _locale_string_email }}">
                <a class="button button--circle mail-button" href="mailto:{{ _author.email }}" itemprop="email" target="_blank">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
        {%- endif -%}


        {%- if _author.facebook -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Facebook' }}">
                <a class="button button--circle facebook-button" href="https://www.facebook.com/{{ _author.facebook }}" itemprop="sameAs" target="_blank">
                    <div class="icon">{%- include svg/icon/social/facebook.svg -%}</div>
                </a>
            </li>
        {%- endif -%}

        {%- if _author.twitter -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Twitter' }}">
                <a class="button button--circle twitter-button" href="https://twitter.com/{{ _author.twitter }}" itemprop="sameAs" target="_blank">
                    <div class="icon">{%- include svg/icon/social/twitter.svg -%}</div>
                </a>
            </li>
        {%- endif -%}

        {%- if _author.weibo -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Weibo' }}">
                <a class="button button--circle weibo-button" href="https://weibo.com/{{ _author.weibo }}" itemprop="sameAs" target="_blank">
                    <div class="icon">{%- include svg/icon/social/weibo.svg -%}</div>
                </a>
            </li>
        {%- endif -%}

        {%- if _author.googleplus -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Google+' }}">
                <a class="button button--circle googlepluse-button" href="https://plus.google.com/u/0/{{ _author.googleplus }}" itemprop="sameAs" target="_blank">
                    <div class="icon">{%- include svg/icon/social/googleplus.svg -%}</div>
                </a>
            </li>
        {%- endif -%}

        {%- if _author.telegram -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Telegram' }}">
                <a class="button button--circle telegram-button" href="https://t.me/{{ _author.telegram }}" itemprop="sameAs" target="_blank">
                    <div class="icon">{%- include svg/icon/social/telegram.svg -%}</div>
                </a>
            </li>
        {%- endif -%}

        {%- if _author.medium -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Medium' }}">
                <a class="button button--circle medium-button" href="https://medium.com/{{ _author.medium }}" itemprop="sameAs" target="_blank">
                    <div class="icon">{%- include svg/icon/social/medium.svg -%}</div>
                </a>
            </li>
        {%- endif -%}

        {%- if _author.zhihu -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Zhihu' }}">
                <a class="button button--circle zhihu-button" href="https://www.zhihu.com/people/{{ _author.zhihu }}" itemprop="sameAs" target="_blank">
                    <div class="icon">{%- include svg/icon/social/zhihu.svg -%}</div>
                </a>
            </li>
        {%- endif -%}

        {%- if _author.douban -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Douban' }}">
                <a class="button button--circle douban-button" href="https://www.douban.com/people/{{ _author.douban }}" itemprop="sameAs" target="_blank">
                    <div class="icon">{%- include svg/icon/social/douban.svg -%}</div>
                </a>
            </li>
        {%- endif -%}

        {%- if _author.linkedin -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Linkedin' }}">
                <a class="button button--circle linkedin-button" href="https://www.linkedin.com/in/{{ _author.linkedin }}" itemprop="sameAs" target="_blank">
                    <div class="icon">{%- include svg/icon/social/linkedin.svg -%}</div>
                </a>
            </li>
        {%- endif -%}

        {%- if _author.github -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Github' }}">
                <a class="button button--circle github-button" href="https://github.com/{{ _author.github }}" itemprop="sameAs" target="_blank">
                    <div class="icon">{%- include svg/icon/social/github.svg -%}</div>
                </a>
            </li>
        {%- endif -%}

        {%- if _author.npm -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'npm' }}">
                <a class="button button--circle npm-button" href="https://www.npmjs.com/~{{ _author.npm }}" itemprop="sameAs" target="_blank">
                    <div class="icon">{%- include svg/icon/social/npm.svg -%}</div>
                </a>
            </li>
        {%- endif -%}

        {%- if _author.notist -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Notist' }}">
                <a class="button button--circle notist-button" href="https://noti.st/{{ _author.notist }}" itemprop="sameAs" target="_blank">
                    <i class="fas fa-comment"></i>
                </a>
            </li>
        {%- endif -%}

        {%- if _author.devto -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'DEV' }}">
                <a class="button button--circle devto-button" href="https://dev.to/{{ _author.devto }}" itemprop="sameAs" target="_blank">
                    <div clas="icon">{%- include svg/icon/social/devto.svg -%}</div>
                </a>
            </li>
        {%- endif -%}

    </ul>
</div>
