<p>Melissa Houghton is a Senior Developer at Telstra Purple.</p>
<p>
    Her work is focused on application development using Angular and .Net Core,
    but she has a wide variety of skills and is always open to learning new things.
</p>
<p>
    She has a passion for technology, learning and giving back to the community.
    She frequents tech events and is an organiser for DDD Melbourne,
    past organiser of DDD Perth and other NFP organisations such as CoderDojo.
</p>
<p>
    Originally from California, Melissa now lives in Melbourne, Australia,
    after 5 years in Perth. Melissa loves to travel, drink wine and learn.
</p>