<p>Melissa Houghton is a Lead Consultant at Telstra Purple.</p>
<p>
  Her work is focused on application development using Angular and .NET Core,
  but she has a wide variety of skills and is always open to learning new
  things.
</p>
<p>
  An advocate for women in tech with a passion for leadership, technology and
  giving back to the community. She frequents tech events, is an international
  conference speaker, and organiser of DDD Melbourne conference and Melb․NET
  meetup.
</p>
<p>
  Originally from California, Melissa loves to travel and now lives in
  Melbourne, Australia.
</p>
