<p>
  Melissa Houghton is a Lead Software Engineer at <a href="https://www.azenix.com.au/" target="blank">Azenix</a> and a
  <a href="" target="blank">Microsoft MVP</a> in Developer Technologies.
</p>
<p>
  Her work is focused on application development using Angular, .NET, and Azure, but she has a wide variety of skills and is always open to learning
  new things.
</p>
<p>
  An advocate for women in tech with a passion for leadership, technology and giving back to the community. She frequents tech events, is an
  international conference speaker and organiser of <a href="https://www.dddmelbourne.com/" target="blank">DDD Melbourne conference</a>,
  <a href="https://www.meetup.com/en-AU/Melb-NET-Meetup" target="blank">Melb․NET meetup</a>, and
  <a href="https://github.com/AussieAzureDevs/New-Breakpoint" target="blank">Microsoft AU New Breakpoint Community</a>.
</p>
<p>Originally from California, Melissa loves to travel and now lives in Melbourne, Australia.</p>
