///
// Skin: Wine Teal
// Author: Melissa Houghton
// Email: melissahoughton@outlook.com
///


$pink: #CB2D6F;
$wine: #501F3A;
$dark-wine: #230315;

$off-white: #CCCCCC;

$teal: #289c96;
$medium-teal: #0F292F;
$dark-teal: #00161f;
$extra-dark-teal: #03080e;


// main colors
$main-color-1:     $teal;
$text-color-1:     $off-white;

$main-color-2:     $pink;
$text-color-2:     $off-white;

$main-color-3:     $dark-wine;
$text-color-3:     $off-white;

$main-color-theme-light: $extra-dark-teal;
$main-color-theme-dark:  $off-white;

// page background
$background-color: $extra-dark-teal;


// text colors
$text-color-theme-light-d: #000;
$text-color-theme-light:   #222;
$text-color-theme-light-l: #888;

$text-color-theme-dark-d:  rgba(#fff, .8);
$text-color-theme-dark:    rgba(#fff, .7);
$text-color-theme-dark-l:  rgba(#fff, .5);

$text-color-d:     $text-color-theme-dark-d;
$text-color:       $text-color-theme-dark;
$text-color-l:     $text-color-theme-dark-l;

$text-background-color: rgba(#fff, .05);

// header and footer colors
$header-text-color: $text-color-3;
$header-background: $main-color-3;

$footer-text-color: $text-color-3;
$footer-background: $main-color-3;

// border and shadow colors
$border-color:     mix(#fff, $background-color, 20%);
$border-color-l:   mix(#fff, $background-color, 10%);
$decorate-color:   rgba(#fff, .1);
$mask-color:       rgba(#000, .9);
$select-color:     rgba($main-color-1, .5);

// function colors
$green:           #5baa34;
$blue:            #1c7cd4;
$yellow:          #c9771f;
$red:             #da3d45;
$text-color-function: rgba(#fff, .8);

// logo colors
$mail-color:       $teal;
$facebook-color:   $teal;
$twitter-color:    $teal;
$weibo-color:      $teal;
$google-plus-color:$teal;
$telegram-color:   $teal;
$medium-color:     $teal;
$zhihu-color:      $teal;
$douban-color:     $teal;
$linkedin-color:   $teal;
$github-color:     $teal;
$npm-color:        $teal;
$notist-color:     $teal;

// highlight colors
@import "skins/highlight/tomorrow-night";
